# Virtual environment
__pycache__/
*.pyc
venv/

# Python 관련
.mypy_cache/
.pytest_cache/

#IDE files
.idea
.vscode/
.iml

# Database files
*.db
myapi.db

# Logs
*.log

# Evironment files
.env

# Node.js 및 React 관련
frontend/node_modules/
frontend/build/

# Alembic files
migrations/